{% extends "BikerBackendBundle::layout.html.twig" %}

{% block title %}
<title>User Dashboard ! </title>
{% endblock %}

{% block footer %}
<div class="con">
	<h4>Pastel in User Dashboard</h4>
</div>
{% endblock %}