<div class="section padding current" title="Our First Section" id="menu">
	<ul class="tabs">
		<li class="current">
			<a href="#users-nav">Users</a>
		</li>
		<li>
			<a href="#bookings">Bookings</a>
		</li>
		<li>
			<a href="#analytics">Analytics</a>
		</li>
		<li>
			<a href="#orders">Orders</a>
		</li>
		<li>
			<a href="#language">Language</a>
		</li>
	</ul>
	<div class="tabs">
		<div class="tab padding">
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
		</div>
		
		<div id="bookings" class="tab">
			<div class="container">
				<div class="col_6 alpha">
					col 6
				</div>
				<div class="col_6 omega">
					col 6
				</div>
			</div>
			
			
		</div>
		
		<div id="analytics" class="tab">
			<div id="percentiles" style="width: 100%; height: 500px"></div>
		</div>
		
		<div id="orders" class="tab">
			<div class="container">
				<div class="col_4 alpha">
					col 4
				</div>
				<div class="col_4">
					col 4
				</div>
				<div class="col_4 omega">
					col 4
				</div>
			</div>
		</div>
		
		<div id="language" class="tab">
			<div class="container">
				<div class="col_4 alpha">
					col 4
				</div>
				<div class="col_4">
					col 4
				</div>
				<div class="col_4 omega">
					col 4
				</div>
			</div>
		</div>
		
	</div>
</div>