{% extends "BikerBackendBundle::layout.html.twig" %}
{% block main_content %}
<div id="page-language" class="padding">
	<div class="container default-padding">
		<div class="col_6">
			<h2>Languages</h2>
		</div>
		<div class="cold_6">
			<button class="add-language-btn pull-right">Add New Language</button>
		</div>
		<div class="col_12">
			<form class="add-language-form dynamic-form" action="#">
				<input type="hidden" name="_action" value="addLanguage" />
				<p><input name="_languagename" type="text" placeholder="Language Name" /></p>
				<p><input name="_languagecode" type="text" placeholder="Language Code" /></p>
				<p class="combine">
					<button class="sugar" type="submit">Submit</button>
					<button class="green cancel-add-language">Cancel</button>
				</p>
			</form>	
		</div>
	</div>
	
	<table class="table-languages">
		<thead>
			<tr>
				<th>Name</th>
				<th>Iso Code</th>
				<th style="width: 140px; text-align: center" class="glyph sort"></th>
			</tr>
		</thead>
		<tbody>
			{% if aLanguages | length > 0 %}
				{% for oLanguage in aLanguages %}
					<tr data-languageid={{ oLanguage.getId() }}>
						<td class="col-languagename">{{ oLanguage.getName() }}</td>
						<td class="col-languagecode">{{ oLanguage.getLanguageCode() }}</td>
						<td class="col-actions">
							<a class="btn-edit" href="javascript:void(0);"><span class="icon">8</span></a> 
							<a class="btn-delete" href="javascript:void(0);"><span class="icon">X</span></a> 
							<a class="btn-disable  {% if oLanguage.getEnabled() == false %}disable{% endif %}" href="javascript:void(0);"><span class="icon">\</span></a>
						</td>
					</tr>	
				{% endfor %}
			{% endif %}
			
		</tbody>
	</table>
</div>
<div class="clone-container hide-content">
	<table class="table-languages-clone">
		<tr>
			<td class="col-languagename"></td>
			<td class="col-languagecode"></td>
			<td class="col-actions">
				<a class="btn-edit" href="javascript:void(0);"><span class="icon">8</span></a> 
				<a class="btn-delete" href="javascript:void(0);"><span class="icon">X</span></a> 
				<a class="btn-disable" href="javascript:void(0);"><span class="icon">\</span></a>
			</td>
		</tr>	
	</table>
</div>
{% endblock %}