<div class="section padding current" title="Our First Section" id="users-nav">
	<ul class="tabs">
		<li class="current">
			<a href="#users-nav">Users</a>
		</li>
		<li>
			<a href="#bookings">Bookings</a>
		</li>
		<li>
			<a href="#analytics">Analytics</a>
		</li>
		<li>
			<a href="#orders">Orders</a>
		</li>
		<li>
			<a href="#language">Language</a>
		</li>
	</ul>
	<div class="tabs">
		<div id="users-nav" class="tab padding">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th style="width: 200px">Role</th>
						<th style="width: 20px; text-align: center" class="glyph sort"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Arnulfo Derico</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Micha Mahomes</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sunlit" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Aldo Maycumber</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>								
					</tr>
					<tr>
						<td>Sydney Schwarm</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="sea" type="checkbox" checked /></td>
					</tr>
					
					<tr>
						<td>Thad Wemhoff</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input class="green" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Elmo Kostis</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Wanetta Herne</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Chance Podany</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sail" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Emilia Thaler</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="adrift" type="checkbox" /></td>
					</tr>
					<tr>
						<td>Pearlie Ruther</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Zelma Roosevelt</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Clayton Dano</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sunlit" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Kurt Bomba</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>								
					</tr>
					<tr>
						<td>Annabelle Morein</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="sea" type="checkbox" checked /></td>
					</tr>
					
					<tr>
						<td>Noemi Hux</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input class="green" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Tanisha Houtchens</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Malinda Brick</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Julio Yeldell</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sail" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Nita Brion</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="adrift" type="checkbox" /></td>
					</tr>
					<tr>
						<td>Lakeesha Wactor</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Sharron Wheelwright</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Erik Mayville</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sunlit" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Carmella Coffer</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>								
					</tr>
					<tr>
						<td>Malinda Phegley</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="sea" type="checkbox" checked /></td>
					</tr>
					
					<tr>
						<td>Max Bibler</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input class="green" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Roslyn Glatt</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Javier Gau</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Marcie Dahlen</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sail" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Lance Sabourin</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="adrift" type="checkbox" /></td>
					</tr>
					<tr>
						<td>Julianne Mahle</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Jacques Halifax</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Alana Nylander</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sunlit" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Sofia Deveau</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>								
					</tr>
					<tr>
						<td>Veola Leiby</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="sea" type="checkbox" checked /></td>
					</tr>
					
					<tr>
						<td>Usha Babers</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input class="green" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Emanuel Heyl</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Devorah Kupka</td>
						<td>test@gmail.com</td>
						<td>Customer</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Eleonor Breden</td>
						<td>test@gmail.com</td>
						<td>Branch Manager</td>
						<td><input class="sail" type="checkbox" checked /></td>
					</tr>
					<tr>
						<td>Nu Bokman</td>
						<td>test@gmail.com</td>
						<td>Personel</td>
						<td><input class="adrift" type="checkbox" /></td>
					</tr>
					<tr>
						<td>Hunter Nauarro</td>
						<td>test@gmail.com</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					<tr>
						<td>Marcelino Taper</td>
						<td>Århus</td>
						<td>Third-party</td>
						<td><input type="checkbox" /></td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
		<div id="bookings" class="tab">
			<div class="container">
				<div class="col_6 alpha">
					col 6
				</div>
				<div class="col_6 omega">
					col 6
				</div>
			</div>
			
			
		</div>
		
		<div id="analytics" class="tab">
			<div id="percentiles" style="width: 100%; height: 500px"></div>
		</div>
		
		<div id="orders" class="tab">
			<div class="container">
				<div class="col_4 alpha">
					col 4
				</div>
				<div class="col_4">
					col 4
				</div>
				<div class="col_4 omega">
					col 4
				</div>
			</div>
		</div>
		
		<div id="language" class="tab">
			<div class="container">
				<div class="col_4 alpha">
					col 4
				</div>
				<div class="col_4">
					col 4
				</div>
				<div class="col_4 omega">
					col 4
				</div>
			</div>
		</div>
		
	</div>
</div>