{% extends "BikerBackendBundle::layout.html.twig" %}
{% block main_content %}
<div id="page-menu">
	<button class="adrift glyph write"><span>Add new</span> Menu</button>
	<form id="demo" class="content">
		<p>
			<input id="username" type="text" placeholder="Username">
		</p>
		<input type="submit" value="Submit">
	</form>
</div>


{% endblock %}