/**
 * @author: Hoang Nhien <hoangnhien137@gmail.com>
 *
 */
 
/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}


h1,h2,h3,h4,h5,h6 {
	font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
}

textarea  {
	resize: vertical;
}

.pull-left { float: left; }
.pull-right { float: right; }

input[type="text"], input[type="password"], textarea {
	height: 45px;
}

th {
	border-top: 1px solid #8E9696;
}
tr:last-child td {
    border-bottom: 1px solid #8E9696;
}

/* temp: have to remove */
#overlays { display: none; }

/* icon */
.icon {
	font-family: Icons;
	font-size: 18px;
	color: #4d6168;
	text-shadow: white 0px 1px 0px;
}
a { 
	text-decoration: none; 
	 color: #333333;	
}
.icon:hover {	color: #FA3C5F; }


/* #stream */
#hello { width: 23%; }
.tile { width: 11%; }
	.tile h2 { margin-left: 20px; }
	.tile p { margin-left: 20px; }

/* Left Nav */

ul.leftnav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 23%;
	float: left;
}
ul.leftnav:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 23%;
	width: 1px;
	height: 100%;
	z-index: 1;
	margin-left: -1px;
	background-color: #8b9494;
}
ul.leftnav li {
	height: 100%;
	line-height: 50px;
	border-bottom: 1px solid #a2afaf;
	font-size: 12px;
	color: #828c8c;
	text-shadow: white 0px 1px 0px;
	font-weight: bold;
	-webkit-box-shadow: white 0px 1px 0px;
	-moz-box-shadow: white 0px 1px 0px;
	box-shadow: white 0px 1px 0px;
}
ul.leftnav li a {
	display: block;
	padding-left: 40px;
	color: #828c8c;
	text-decoration: none;
	padding-right: 40px;
	position: relative;
}
ul.leftnav li.count a:after {
	content: attr(data-count);
	position: absolute;
	height: 20px;
	width: 20px;
	background: #999;
	background: -moz-linear-gradient(#BBB, #888);
	background: -webkit-linear-gradient(#BBB, #888);
	line-height: 20px;
	text-align: center;
	text-shadow: black 0px 1px 3px;
	color: white;
	top: 50%;
	margin-top: -8px;
	right: 20px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	-moz-box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	box-shadow: white 0px 1px 0px, #333 0px 3px 6px inset;
	font-size: 12px;
}
ul.leftnav li:hover {
	background: rgba(0,0,0,0.05);
}
ul.leftnav li.current {
	background-image: -webkit-linear-gradient(#dee3e3 0%, #b7c5c5 100%);
	background-image: -moz-linear-gradient(#dee3e3 0%, #b7c5c5 100%);
	-moz-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	-webkit-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset;
	color: #6a6f76;
	text-shadow: rgba(255,255,255,0.7) 0px 1px 0px;
	cursor: default;
}
ul.leftnav li.current a {
	color: #4c4c4c;
}
div.main-content {
	width: 77%;
	float: left;
	-webkit-box-shadow: rgba(0,0,0,0.1) -8px 0px 10px -5px;
	-moz-box-shadow: rgba(0,0,0,0.1) -8px 0px 10px -5px;
	box-shadow: rgba(0,0,0,0.1) -8px 0px 10px -5px;
}
div.main-content > div {
	padding: 40px;
}
div.main-content > div.padding {
	padding: 0;	
}

/*=======================================================================*/
/* Login */
/*=======================================================================*/
#login-form {
	display: block;
}

/*=======================================================================*/
/* Form */
/*=======================================================================*/


/*========================================================================*/
/* Style for Menu - Item */

/* Menu */
#current-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#current-menu > li {
	width: 100%;
	line-height: 30px;
	
	background: #FAFAFA;
	position: relative;
	background: -moz-linear-gradient(rgba(255,255,255,0.3), #FAFAFA);
	background: -webkit-linear-gradient(rgba(255,255,255,0.3), #FAFAFA);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px -45px 62px -62px inset, 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -45px 62px -62px inset, 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	box-shadow: rgba(0, 0, 0, 0.2) 0px -45px 62px -62px inset, 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);	
}
#current-menu .single-menu {
	margin-top: 30px;
}

#current-menu li .menu-collapse {
	font-size: 14px;
	color: #6a6f76;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	margin: 0px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1));
	background-image: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1));
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, white 0px 1px 0px;
	-moz-box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, white 0px 1px 0px;
	box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, white 0px 1px 0px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	height: 40px;
}

#current-menu .remove {
	cursor:pointer;
	float: right; 
}
#current-menu .current-items{
	margin: 0;
	padding: 0;
	list-style: none;
}
.current-items .item-title {
	text-decoration: none;
}
.current-items .item-action {
	width: 100px;
	float: right;
}
#current-menu .current-items li {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 15px;
	margin: 5px 0;	
}
a .icon{
	padding: 0 5px;
}

.edit-item-form img {
	max-width: 200px;
	max-height: 200px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #BBBBBB;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 white, 0 4px 5px -5px rgba(0, 0, 0, 0.35) inset;
}

.item-expand {
	display: none;
}

.disable .icon {
	color: #ccc;
}


.hide-content {
	display: none;
}
.dynamic-form {
	display: none;
}
.menu-expand {
	display: none;
	padding: 20px;
}
.single-menu.active .menu-expand {
	display: block;
}
.default-padding {
	padding: 0 30px;
}
.customer-users,
.admin-users {
	padding-top: 30px;
}

h2 {
	line-height: 44px;
}
#add-menu-form {
	margin-top: 30px;
}
td.col-actions {
	text-align: center;
}

/****************************************************************************************
 * Style for Language Page
 ***************************************************************************************/
div.main-content > div#page-language {
	padding-top: 30px;
}
